* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.search-contain {
  margin: 5px 5px;
}
.container {
  border: solid 1px blue;
}
.card-title {
  font-size: medium;
  font-weight: bolder;
}

.card {
  width: 200px;
  margin: 6px 6px;
  padding: 16px 16px;
}
/* .card img {
  border: solid 1px blue;
  padding: 10px 5px;
} */
