* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.search-contain {
  margin: 5px;
}
.container {
  border: solid 1px blue;
}
.card-title {
  font-size: medium;
  font-weight: bolder;
}

.card {
  width: 200px;
  margin: 6px;
  padding: 16px;
}

.basket-wrap {
  margin-top: 30px;
  padding: 30px;
}

.basket {
  min-height: 300px;
  text-align: center;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}
